h1:hover{
    color: gray
}
.Radio2{
    margin-left:30px
}
.Radio{
    margin-left:50px
}
.divimg{
  
   width:1000px;
}
.divimg2{
   
color:black;
font-family: 'Gill Sans';
font-size: 20px;
text-shadow: 20ch brown;
padding:10px;
    margin-top:1cm;
    float:center;
    width:620px;
    height:600px;

 }
 #divm{

height:60px;
background-color:crimson;
text-align: center;
padding:2px;
color:white;
text-shadow: black 2px;
text-align:center;
 }


 .formdiv{
    box-shadow: 5px 10px 20px 10px

 }


